.bg-dark {
  background-color: #000000!important;
}

.text-white{
  color: white;
}

.justificado{
  text-align: justify !important;
  font-size: 18px;
}

.App-logo {
  height: 90px;
  pointer-events: none;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: .3rem;
  text-align: justify;
}

.slider {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
  width: 100%;
  height: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/*
BODY
*/
.row-black{
  background-color: #000000!important;
  color: #ffffff;
}

.row-white{
  background-color: #ffffff!important;
  color: #000000;
}

.Body-img {
  height: 150px;
  width: 200px;
}
